.header{
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(218, 218, 218);
  z-index: 100;
}

.left-section{
  display: flex;
  align-items: center;
}

.hamburger-menu{
  margin-left: 26px;
  margin-right: 26px;
  height: 30px;
}

.youtube-logo{
  height: 30px;
}

.middle-section{
  flex: 1;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.search-button{
  height: 46px;
  width: 70px;
  border-color: rgb(192, 191, 191);
  border-style: solid;
  background-color: rgb(231, 230, 230);
}

.search-button, .voice-search-button, .upload-icon-container, .notifications-container, .Apps-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .tooltip, .voice-search-button .tooltip, .notifications-container .tooltip, .Apps-container .tooltip, .upload-icon-container .tooltip{
  background-color: rgb(129, 129, 129);
  font-size: 12px;
  border-radius: 2px;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  position: absolute;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  color: white;
}

.search-button:hover .tooltip, .notifications-container:hover .tooltip, .Apps-container:hover .tooltip, .voice-search-button:hover .tooltip, .upload-icon-container:hover .tooltip{
  opacity: 1;
}

.voice-search-button{
  height: 46px;
  width: 46px;
  border-radius: 30px;
  border: none;
  margin-left: 20px;
}

.right-section{
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  flex-shrink: 0;
}

.search-bar{
  flex: 1;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
  border-width: 1px;
  border-radius: 4px;
  border-color: rgb(192, 192, 192);
  border-style: solid;
  box-shadow: inset 1px 2px 1px rgba(0, 0, 0, 0.15);
  margin-right: -2px;
  width: 0;
}

.search-bar::placeholder{
  font-family: Roboto, arial;
  font-size: 20px;
  
}

.search-icon{
  height: 30px;
}

.upload-icon{
  
  
  height: 30px;
}

.youtube-apps-icon{
  
  
  height: 30px;
}

.notifications-info{
  position: relative;
}

.notifications-count{
  position: absolute;
  top: -2px;
  right: -1px;
  background-color: red;
  color: white;
  font-size: 10px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
  border-radius: 10px;
}

.notifications-icon{
 height: 30px;
}

.user-pic{
  
  height: 30px;
  border-radius: 15px;
}